@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
  padding: 10px;
  border: 1px solid gainsboro;
  width: 100%;
  background-color: black;
  height: 70vh;

  &__image {
    display: flex;
    width: 40%;
    height: 50vh;
    margin: 15px;
    padding: 15px;
    border: 1px solid gainsboro;
    background-color: rgb(185, 185, 185);
    border-radius: 8px;

    img {
      min-width: 400px;
      min-height: 400px;
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 50vh;
    margin: 15px;
    padding: 15px;
  }
}

.tittle {
  display: flex;
  margin-bottom: 0px;
  font-family: "RocknRoll One", sans-serif;

  h1 {
    color: white;
  }
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: start;

  p {
    font-size: 20px;
    color: white;
  }

  ul li {
    list-style: none;
    color: white;
  }
}
